<template name="aboutview">
  <div class="span4">
    <i class="icon-cogs massiveicon"></i>
  </div>
  <div class="span7">
    <h1>Who is searchmaps.com?</h1>
    <p>Searchmaps.com is the brainchild of some of Asia's most active map-collectors, with a combined 48 years of map-collecting experience. We got tired of doing constant searches for antique maps we wanted, sorting through endless 'favourites" lists and having to go through countless pages from a Google search to find what we were looking for.    </p>
    <h1>Can I join?</h1>
    If you have additional ideas on how to make seachmaps.com a better site for you, we would welcome to hear from you!  Please feel free to <a href="mailt:auctioncrunch@gmail.com">contact us here</a>. 
  </div>
</template>
