<template name="aboutview">
  <div class="span4">
    <i class="icon-cogs massiveicon"></i>
  </div>
  <div class="span7">
    <h1>Who are behind this?</h1>
    AuctionCrunch is the brainchild of some of Asia's most active map-collectors, with a combined 48 years of map-collecting experience.
    <hr>
    As active members of the Asian Map Society, AuctionCrunch' founders combine a passion for antique maps with a passion for good internet sites.
    <h1>Can I join?</h1>
    If you have great ideas or can support us otherwise, we would welcome you to join our team. <a href="/contact">contact us</a>, we love to hear from you!
  </div>
</template>
