/* CSS declarations go here */
html, body {
  height:100%;
}

.wrap {
  min-height: 100%;
  position:relative;
}

.main {
  overflow:auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom:30px; /* this needs to be bigger than footer height*/
}

.footer {
  text-align: center;
  font-size: 10px;
  bottom: 0;
  right: 0;
  left: 0;
  height: 30px;
  position: absolute;
}

select {
  width: 100px;
}

.pagination {
  margin: 5px 0 5px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 40px 0;
  text-align: center;
}

h1.jumbotron {
  font-size: 72px;
  line-height: 1;
}

.jumbotron .btn {
  font-size: 32px;
  line-height: 35px;
  padding: 14px 24px;
}

h4 {
  vertical-align: -5px;
  font-size: 21px;
}

.resultspages {
  font-size: 12px;
}

.resultscount {
  font-style: italic;
}


.mapthumbnail {
  width: 100px;
  overflow: hidden;
}

.thumbnail {
  padding: 5px;
  height: 250px;
}

.thumbnail .caption {
  padding: 0;
  font-size: 10px;
  line-height: 12px;
}

.wrapthumb {
  height: 225px;
  margin: 0;
  overflow: hidden;
}

.bottomline {
  height: 25px;
}

.auctiontitle {
  font-size: 11px;
  font-weight: bold;
  line-height: 12px;
}

.makerinfo, .auctionhousename {
  font-size: 9px;
  line-height: 10px;
}

.active {
  font-weight: bold;
  color: black;
}

.regionList, .scrapedSites, .makers {
  display: none;
}

.sep {
  color: #dd4814;
  font-size: 75%;
}

.smaller {
  font-size: 80%;
}

.huge {
  font-size: 40px;
  color: #dd4814;
}

.massiveicon {
  font-size: 200px;
  color: #dd4814;
}

.register-spinner, .upgrade-spinner, .login-spinner {
  display: none;
  font-size: 21px;
  color: #dd4814;
}

.accounts-dialog {
  position: absolute;
  top: 25%;
  left: 35%;
  width: 30%;
  background-color: white;
  height: 75px;
  padding: 20px;
  border: solid black 2px;
  z-index: 1999;
  font-size: 21px;
  text-align: center;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#just-verified-dismiss-button {
  width: 100px;
  margin-left: 35%;
  background-color: #dd4814;
  padding: 5px 10px;
  margin-top: 20px;
  font-weight: bold;

  cursor: pointer;
  background-image: -moz-linear-gradient(top, #dd4814, #dd4814);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dd4814), to(#dd4814));
  background-image: -webkit-linear-gradient(top, #dd4814, #dd4814);
  background-image: -o-linear-gradient(top, #dd4814, #dd4814);
  background-image: linear-gradient(to bottom, #dd4814, #dd4814);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd4814', endColorstr='#dd4814', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.pricetable {
  font-size: 21px;
}

.icon-active {
  color: #dd4814;
}
