/* CSS declarations go here */
html, body {
  height:100%;
}

.wrap {
  min-height: 100%;
  position:relative;
}

.main {
  overflow:auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom:30px; /* this needs to be bigger than footer height*/
}

.footer {
  text-align: center;
  font-size: 10px;
  bottom: 0;
  right: 0;
  left: 0;
  height: 30px;
  position: absolute;
}

select {
  width: 100px;
}

.pagination {
  margin: 5px 0 5px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 40px 0;
  text-align: center;
}

h1.jumbotron {
  font-size: 72px;
  line-height: 1;
}

.jumbotron .btn {
  font-size: 32px;
  line-height: 35px;
  padding: 14px 24px;
}

h4 {
  vertical-align: -5px;
  font-size: 21px;
}

.resultspages {
  font-size: 12px;
}

.resultscount {
  font-style: italic;
}


.mapthumbnail {
  width: 100px;
  overflow: hidden;
}

.thumbnail {
  padding: 5px;
  height: 250px;
}

.thumbnail .caption {
  padding: 0;
  font-size: 10px;
  line-height: 12px;
}

.wrapthumb {
  height: 225px;
  margin: 0;
  overflow: hidden;
}

.bottomline {
  height: 25px;
}

.auctiontitle {
  font-size: 11px;
  font-weight: bold;
  line-height: 12px;
}

.makerinfo, .auctionhousename {
  font-size: 9px;
  line-height: 10px;
}

.active {
  font-weight: bold;
  color: black;
}

.regionList, .scrapedSites, .makers {
  display: none;
}

.sep {
  color: #dd4814;
  font-size: 75%;
}

.smaller {
  font-size: 80%;
}

.huge {
  font-size: 40px;
  color: #dd4814;
}

.massiveicon {
  font-size: 200px;
  color: #dd4814;
}
