/* CSS declarations go here */
body {
  font-family: sans-serif;
  font-size: 12px;
}

.info {
}

.resultspages {
  font-size: 12px;
  line-height: 12px;
}

.pagelink  {
  display: inline-block;
  border: solid 1px white;
  color: white;
  background-color: black;
  padding-left: 5px;
  padding-right: 5px;
}


.invisible {
  display: none;
}

.active,  .pagelink:hover {
  font-weight: bold;
  cursor: pointer;
  background: #FFFF5A;
  color: black;
  border: solid 1px black; 
}

.pagelink :hover {
  color: black;
}

.resultscount {
  font-style: italic;
}

.thumbnail {
  float: left;
  vertical-align: top;
  margin-right: 10px;
  border: solid 1px black;
}

.auction {
  clear: both; 
  border-top: solid 1px black; 
}

.auctiontitle {
  font-size: 15px;
  font-weight: bold;
}

.footer {
  clear: both; 
  margin-top: 20px;
  width: 50%;
  margin-left: 25%;
  text-align: center;
  font-size: 10px;
}

.sep {color: red;}

.regionList, .scrapedSites {
  display: none;
}
