<template name="premiumview">
    <div class="container">
        <h2>
            Get more from AuctionCrunch
        </h2>
        <table class="table table-condensed table-striped pricetable">
            <thead>
                <tr>
                    <th>
                    </th>
                    <th>
                        Standard
                    </th>
                    <th>
                        Premium
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
            </tfoot>
            <tbody>
                <tr>
                    <td>
                        View all maps
                    </td>
                    <td>
                        <i class="icon-ok icon-active">
                        </i>
                    </td>
                    <td>
                        <i class="icon-ok icon-active">
                        </i>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        View all Auction houses
                    </td>
                    <td>
                        <i class="icon-ok icon-active">
                        </i>
                    </td>
                    <td>
                        <i class="icon-ok icon-active">
                        </i>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        Search all Makers
                    </td>
                    <td>
                        <i class="icon-ok icon-active">
                        </i>
                    </td>
                    <td>
                        <i class="icon-ok icon-active">
                        </i>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        Receive email updates
                    </td>
                    <td>
                        <i class="icon-remove">
                        </i>
                    </td>
                    <td>
                        <i class="icon-ok icon-active">
                        </i>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        Map pricing
                    </td>
                    <td>
                        <i class="icon-remove">
                        </i>
                    </td>
                    <td>
                        <i class="icon-ok icon-active">
                        </i>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        Detailed descriptions
                    </td>
                    <td>
                        <i class="icon-remove">
                        </i>
                    </td>
                    <td>
                        <i class="icon-ok icon-active">
                        </i>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        Direct link to maps
                    </td>
                    <td>
                        <i class="icon-remove">
                        </i>
                    </td>
                    <td>
                        <i class="icon-ok icon-active">
                        </i>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        Yearly Subscription fee
                    </td>
                    <td>
                        free
                    </td>
                    <td>
                        $99 / year
                    </td>
                    <td>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
