<template name="premiumview">
<div class="container span12">
  <h1>Get more from AuctionCrunch</h1>
</div>
<div class="row">
  <div class="span10">
    <table class="table table-condensed table-striped pricetable">
      <thead>
        <tr>
          <th> </th>
          <th>Standard</th>
          <th>Premium</th>
        </tr>
      </thead>
      <tfoot>
      <tr>
      <td> </td>
      <td></td>
      <td><a class="btn btn-primary" href="#"><i class="icon-shopping-cart icon-white"></i> Upgrade NOW »</a></td>
      </tr>
      </tfoot>
      <tbody>
        <tr>
          <td>View all maps</td>
          <td><i class="icon-ok icon-active"></i></td>
          <td><i class="icon-ok icon-active"></i></td>
        </tr>          
        <tr>
          <td>View all Auction houses</td>
          <td><i class="icon-ok icon-active"></i></td>
          <td><i class="icon-ok icon-active"></i></td>
        </tr>        
        <tr>
          <td>Search all Makers</td>
          <td><i class="icon-ok icon-active"></i></td>
          <td><i class="icon-ok icon-active"></i></td>
        </tr>
        <tr>
          <td>Map pricing</td>
          <td><i class="icon-remove"></i></td>
          <td><i class="icon-ok icon-active"></i></td>
        </tr>
        <tr>
          <td>Detailed descriptions</td>
          <td><i class="icon-remove"></i></td>
          <td><i class="icon-ok icon-active"></i></td>
        </tr>
        <tr>
          <td>Direct link to maps</td>
          <td><i class="icon-remove"></i></td>
          <td><i class="icon-ok icon-active"></i></td>
        </tr>
        <tr>
          <td>Search support</td>
          <td><i class="icon-remove"></i></td>
          <td><i class="icon-ok icon-active"></i></td>
        </tr>
          <td>Monthly</td>
          <td>free</td>
          <td>$15 / month</td>
        </tr>  
        </tr>
          <td>Yearly</td>
          <td>free</td>
          <td>$99 / year</td>
        </tr>
      </tbody>
      
    </table>
  </div>
</div>
</template>