<template name="intro">
<div class="jumbotron">
  <h1>track all your favorite antique map-sites.</h1>
  <p>
    AuctionCrunch helps collectors to stay up to date with what is offered on the biggest antique map reseller and auction-sites, all through one simple account.
  </p> 
  <button type="button" class="btn btn-large btn-primary" data-toggle="modal" data-target="#registerModal"><i class="icon-flag icon-2x pull-left"></i>Register <br/> Now!</button>
</div>
</template>

<template name="marketing">
<div class="row-fluid marketing">
  <div class="span6">
    <h4><i class="icon-legal"></i> Auction Houses</h4>
    <p>We track all the major auctionhouses, collecting all the antique map-information every 2 hours. So instead of mining through countless sites, you can focus on your collection.</p>

    <h4><i class="icon-book"></i> Map (re)sellers</h4>
    <p>Our database covers over 150 map (re)sellers, small and large, from all over the world.</p>

    <h4><i class="icon-search"></i> Easy search</h4>
    <p>Our database contains details for thousands of maps, including their makers, region, year and other fields. We've also collected all their keywords, so searching is simple, fast and fun.</p>
  </div>

  <div class="span6">
    <h4><i class="icon-gift"></i> Premium Member Benefits</h4>
    <p>You can always search our entire database, without restrictions. However, pricing-information and details to the original map is only available for premium members. For your convenience we also keep all your searches so you only have to enter them once!</p>

    <h4><i class="icon-ok-sign"></i> Up-to-date</h4>
    <p>We update thousands of maps, every 2 hours. We also make sure we only have maps </p>

    <h4><i class="icon-ambulance"></i> Missing resource?</h4>
    <p>If you feel we are missing a site which we should include, let us know and we will add it up!</p>
  </div>
</div>
</template>
