<!-- repeating in every page: header (masthead) and footer -->
<template name="masthead">
  <div class="masthead">
    <ul class="nav nav-pills pull-right">
      <li><a href="index"><i class="icon-home"></i> Home</a></li>
      {{#if currentUser}}<li><a href="search"><i class="icon-eye-open"></i> Search</a></li>{{/if}}
      <li><a href="about"><i class="icon-asterisk"></i> About</a></li>
      <li><a href="contact"><i class="icon-comment"></i> Contact</a></li>
      <li><a href="{{logInOut}}"><i class="icon-user"></i> {{logInOutDescription}}</a></li>
    </ul>
    <h3 class="muted">Got maps?</h3>
  </div>
</template>