<template name="registermodal">
    <!-- Modal -->
    <div id="registerModal" class="modal hide fade" tabindex="-1" role="dialog"
    aria-labelledby="registerModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                ×
            </button>
            <h3 id="registerModalLabel">
                AuctionCrunch Registration
            </h3>
        </div>
        <div class="modal-body">
            <p>
                Register now and get access to thousands of high-quality maps.
            </p>
            <div class="register-msg"></div>
            <div class="register-spinner span4">
              <i class="icon-spinner icon-spin icon-2x pull-left"></i>Registration in progress, please wait!
            </div>
            <form class="form-horizontal registerForm">
              <div class="control-group">
                <label class="control-label" for="email">Email</label>
                <div class="controls">
                  <div class="input-prepend">
                      <span class="add-on">
                          <i class="icon-envelope">
                          </i>
                      </span>
                      <input class="span4" id="email" type="text" placeholder="Your Email">
                  </div>
              </div>
              <div class="control-group">
                  <label class="control-label" for="password1">Your Password</label>
                  <div class="control-group">
                    <div class="input-prepend">
                        <span class="add-on">
                            <i class="icon-key">
                            </i>
                        </span>
                        <input class="span4" id="password1" type="password" placeholder="Your Password">
                    </div>
                  </div>
              </div>
              <div class="control-group register-group">
                  <label class="control-label" for="password2">Confirm your Password</label>
                  <div class="control-group">
                    <div class="input-prepend">
                        <span class="add-on">
                            <i class="icon-key">
                            </i>
                        </span>
                        <input class="span4" id="password2" type="password" placeholder="Confirm your Password">
                    </div>
                  </div>
              </div>
            </form>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">
              <i class="icon-remove"></i> Close
          </button>
          <button class="btn btn-primary btn-register">
              <i class="icon-ok"></i> Register me!
          </button>
       </div>
    </div>
</template>

<template name="loginB">
  <div class="accounts-dialog accounts-centered-dialog">
    Email verified
    <div class="login-button" id="just-verified-dismiss-button">Dismiss</div>
  </div>
</template>
