<template name="loginview">
    <div class="span4">
        <i class="icon-user massiveicon">
        </i>
    </div>
    <div class="span7">
        <h1>
            Login
        </h1>
        <p>
            No account yet?
            <a href="#" data-toggle="modal" data-target="#registerModal">dont panic, register now!</a>
        </p>
        <div class="login-msg span5">
        </div>
        <div class="login-spinner span4">
            <i class="icon-spinner icon-spin icon-2x pull-left">
            </i>
            Logging in....
        </div>
        <form class="form-horizontal loginForm">
            <div class="control-group">
                <label class="control-label" for="email">Email</label>
                <div class="controls">
                    <div class="input-prepend">
                        <span class="add-on">
                            <i class="icon-envelope">
                            </i>
                        </span>
                        <input class="span3" id="email" type="text" placeholder="Your Login Email">
                    </div>
                </div>
            </div>
            <div class="control-group ">
                <label class="control-label" for="password">Password</label>
                <div class="controls">
                    <div class="input-prepend">
                        <span class="add-on">
                            <i class="icon-key">
                            </i>
                        </span>
                        <input class="span3" id="password" type="password" placeholder="Your Password">
                    </div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button class="btn btn-primary btn-login">
                        <i class="icon-ok">
                        </i>
                        Login
                    </button>
                </div>
            </div>
        </form>
    </div>
    {{test}}
</template>
