<template name="auctions">
{{#each auctionRows}}
  <div class="row-fluid">
    <ul class="thumbnails">
      {{#each this}}
        {{> auction}}
      {{/each}}
    </ul>
  </div>
{{/each}}
</template>

<template name="auction">
  <li class="span2">
    <div class="thumbnail">
      <div class="wrapthumb">
        <a href="{{detailsURL}}" target="_blank"><img class="mapthumbnail" src="{{image}}"/></a>
        <div class="caption">
        	<p class="auctionhousename">{{auctionHouse.name}}</p>
        	<p class="auctiontitle">{{title}}</p> 
          <p class="description">{{{mapDescription}}}</p>
          <p class="makerinfo">{{makerInfo}}</p>
        </div> 
      </div>
      <div class="bottomline"><span class="pull-left">{{{priceInfo}}}</span><span class="pull-right">{{> morebutton}}</span></div>
    </div>
  </li>
</template>

<template name="morebutton">
  <a href="{{this.detailsURL}}" target="_blank" class="btn btn-mini pull-right"><i class="icon-hand-right"></i> more</a> 
</template>

<template name="auctionsOLD">
<div id="auctionList">
    {{#each auctionList}}
      {{> auction}}
    {{/each}}
</div>
</template>
