<head>
  <title>Welcome to auctioncrunch.</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="AuctionCrunch - the best way to search antique maps online.">
  <meta name="author" content="AuctionCrunch">
</head>
<body> 
<div class="wrap"> 
  <div class="main container-narrow clear-top">
    {{> masthead}}
    {{> main}}
  </div><!-- container-narrow -->
  {{> footer}} 
  {{> registermodal}} 
</div><!-- wrap -->
</body>

<!-- default page; placeholder to the router-helper "renderPage" -->
<template name="main">
  {{renderPage}}
</template>

<!-- index page -->
<template name="indexview"> 
  {{#if currentUser}}
    {{> premiumview}}
    <div class="row">
      <div class="pull-right">
        {{> paypalform}}     
      </div> 
    </div>   
  {{else}}
    {{> intro}}
  {{/if}}
  {{> marketing}}
</template>

<!-- search page -->
<template name="searchview">  
  {{{loginMessage}}
  {{#if currentUser}}
    {{> titlesearch}}
    {{> searchresults}}
    {{> auctions}}  
    {{> dbsummary}}
  {{/if}}    
</template>



<template name="footer">
<div style="display: none;"></div>
  <footer class="footer">
    copyright 2013 <i class="icon-star sep"></i> Themeda China Technologies
  </footer>
  <!--  
    Sites loaded:
    http://www.the-saleroom.com/en-gb
    http://www.raremaps.com/

    To be done: 
    http://www.liveauctioneers.com/ 
    http://www.artfact.com/
    http://www.swaen.com/index.php
    http://www.geographicus.com/
    http://www.leejacksonmaps.com/index.htm
    http://www.helmink.com/
  -->
</template>


<!-- show this view to users who have IE lower than version 7: -->
<template name="sorryview">
<h1>Sorry</h1>
<h2>Our apologies, but your browser is too old to work with AuctionCrunch.</h2>
<hr>
<p>We recommend you upgrade to <a href="https://www.google.com/intl/en/chrome/browser/">Google Chrome</a>, 
<a href="http://www.mozilla.org/en-US/firefox/new/">Firefox</a> or <a href="http://www.microsoft.com/ie">the latest verion of Internet Explorer</a>
<hr>
</template>