<template name="marketing">
<div class="row-fluid marketing">
        <div class="span6">
          <h4>Auction Houses</h4>
          <p>We track over 400 auctionhouase, every 2 hours.</p>

          <h4>Map (re)sellers</h4>
          <p>Our database covers over 150 map (re)sellers, small and large.</p>

          <h4>Easy search</h4>
          <p>Our databse indexes maps on makers, region, year and other fields. Searching is simple, fast and easy.</p>
        </div>

        <div class="span6">
          <h4>Premium Member Benefits</h4>
          <p>After registration you will be able to search our entire database. However, pricing-information is only available for premium members.</p>

          <h4>Up-to-date</h4>
          <p>We update thousands of maps every 2 hours.</p>

          <h4>Missing resource?</h4>
          <p>If you think we are missing a site which we should include, let us know and we will add it.</p>
        </div>
</div>
</template>